.premiere-section {
  position: relative;                            /* pour l'overlay  */
  background-image: url('./pictures/sunsetthai.jpg');
  background-size: cover;                        /* L’image prend toute la taille */
  background-position: center;                   /* L’image est centrée */
  background-repeat: no-repeat;                  /* Pas de répétition de l’image */
  min-height: 100vh;                             /* 100% de la hauteur de l'écran */
  padding: 100px 20px;                           /* Espace intérieur en haut/bas, gauche/droite */
  display: flex;
  align-items: center;
  justify-content: center;
}

  .overlay {  /* fond */
  position: absolute;                               /* Positionnement absolu par rapport à .thailande-container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(176, 105, 105, 0.7);    /* teinte du fond */
  z-index: 1;
}

  .content {  /* encadrement */
  position: relative;
  z-index: 2;                                  /* Passe devant l’overlay */
  max-width: 1100px;                           /* Largeur maximale du texte */
   width: 90%;                                 /*  Pour être responsive */
  color: #292929;                            
  text-align: justify;                         
  font-size: 25px;                             
  background: rgba(251, 251, 251, 0.753);    
  padding: 30px;
  border-radius: 10px;
}
.thailande-title {  /* titre */
  color: #000000;
  font-size: 40px;
  text-align: center;
  z-index: 2;              /* Pour rester au-dessus du calque blanc */
  position: relative;
  margin-bottom: 50px;
}

.thailande-list { /* puces */
  list-style-position: inside;   /* puces */
  text-align: lefts;
  margin-top: 40px;
  padding-left: 20px;
  font-size: 25px;
  line-height: 1.6;
  color: #000;
}

.thailande-list li {  /* distance entre puces */
  margin-bottom: 10px; 
} 

/*  2e SECTION */


.deuxieme-section {
  position: relative;                  /* Nécessaire pour que l'overlay soit positionné par rapport à lui */
  background-image: url('./pictures/2.jpg');
  background-size: cover;              /* L’image prend toute la taille du conteneur */
  background-position: center;         
  background-repeat: no-repeat;        
  min-height: 100vh;                   /* 100% de la hauteur de l'écran */
  padding: 100px 20px;                 
  display: flex;
  align-items: center;
  justify-content: center;
}

  .overlay-2 {  /* fond */
  position: absolute;                  /* Positionnement absolu par rapport à .thailande-container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 77, 77, 0.247); 
  z-index: 1;
}

  .texte-itineraire {  /* encadrement */
  position: relative;
  z-index: 2;                     /* Passe devant l’overlay */
  max-width: 1100px;              /* Largeur maximale du texte */
   width: 90%;                    /*  Pour être responsive tout en restant large */
  color: #292929;              
  text-align: justify; 
  font-size: 25px; 
  background: rgba(251, 251, 251, 0.8); 
  padding: 30px;
  border-radius: 10px;
}


.content-wrapper h1 { /* TITRE */
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  color: #222;
}



/* 🔽 3e SECTION bangkok */

.troisieme-section {
  position: relative;                           
  background-image: url('./pictures/bangkok4.jpg');
  background-size: cover;                       
  background-position: center;                  
  background-repeat: no-repeat;                 
  min-height: 100vh;                           
  padding: 100px 20px;                          
  display: flex;
  align-items: center;
  justify-content: center;
}

  .overlay-3 {     /* fond */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 100, 100, 0.438); 
  z-index: 1;
}

  .texte-bangkok {  /* encadrement */
  position: relative;
  z-index: 2; 
  max-width: 1100px; 
   width: 90%;         
  color: #292929; 
  text-align: justify; 
  font-size: 25px; 
  background: rgba(255, 252, 252, 0.7); 
  padding: 30px;
  border-radius: 10px;
}


/* Positionnement des photos flottantes */
.photo4, .photo5 {
  position: absolute;
  max-width: 400px;               /* grosseur */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.9);
  z-index: 3;                     /* devant le texte */
}

.photo5 {
  top: 8%;
  right: 8%;
}

.photo4 {
  bottom: 8%;
  left: 5%;
}


.activitebangkok-list { /* puces */
  list-style-position: inside;  
  text-align: lefts;
  margin-top: 40px;
  padding-left: 20px;
  font-size: 20x;
  line-height: 1.6;
  color: #000000;
}

.activitebangkok-list li {  /* distance entre puces */
  margin-bottom: 5px; 
} 


    /*  4e SECTION ao-nang */


.quatrieme-section {
  position: relative; 
  background-image: url('./pictures/mangrove.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 100px 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

  .overlay-4 {  /* fond */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 67, 67, 0.381); 
  z-index: 1;
}

  .texte-ao-nang {  /* encadrement */
  position: relative;
  z-index: 2; 
  max-width: 1100px; 
   width: 90%;        
  color: #292929; 
  text-align: justify; 
  font-size: 25px; 
  background: rgba(251, 251, 251, 0.825); 
  padding: 30px;
  border-radius: 10px;
}


           /*  5e SECTION koh-phiphi */    

.cinquieme-section {
  position: relative; 
  background-image: url('./pictures/koh-phi-phi.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 100px 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

  .overlay-5 {  /* fond */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 93, 93, 0.377); 
  z-index: 1;
}

  .texte-koh-phiphi {  /* encadrement */
  position: relative;
  z-index: 2; 
  max-width: 1100px; 
   width: 90%;         
  color: #292929; 
  text-align: justify; 
  font-size: 25px; 
  background: rgba(251, 251, 251, 0.747); 
  padding: 30px;
  border-radius: 10px;
}

      /* 🔽 6e SECTION koh-lanta */  

      
.sixieme-section {
  position: relative; 
  background-image: url('./pictures/koh-lanta1.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 100px 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

  .overlay-6 {  /* fond */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 37, 37, 0.192); 
  z-index: 1;
}

  .texte-koh-lanta {  
  position: relative;
  z-index: 2; 
  max-width: 1100px; 
  width: 90%;         
  color: #292929; 
  text-align: justify; 
  font-size: 25px; 
  background: rgba(251, 251, 251, 0.836); 
  padding: 30px;
  border-radius: 10px;
}