.App-header {
  position: relative;
  background-image: url('./palmier-bali.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* seulement à gauche/droite */
}

.overlay-app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 16, 0.619); /* calque sombre */
  z-index: 1;         /* derrière le contenu */
}

.title-app {
  z-index: 2;
  color: rgb(221, 151, 0);
  font-size: 65px;
  text-align: center;
  font-style: italic;
  margin-top: -170px;  /* règle la distance par rapport au haut du header */
  margin-bottom: 120px; /* espace avec le sous-titre */
}

.subtitle-app {
  z-index: 2;
  font-size: 25px;
  text-align: center;
  color: rgba(221, 151, 0, 0.8);
  font-style: italic;
  margin-top: 40px;   /* espace au-dessus si tu veux */
  margin-bottom: 60px; /* espace en dessous si tu veux */
}

.main-text {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  z-index: 2;
  text-align: center;
 margin-top: 160px;   /* espace au-dessus si tu veux */
 margin-bottom: -150px; /* espace en dessous si tu veux */
}
