.main-contact {
  position: relative; /* Nécessaire pour que l’overlay soit positionné par rapport à lui */
  background-image: url('./fond-contact.jpg');
  background-size: cover; /* L’image prend toute la taille du conteneur */
  background-position: center -1200px; /* pour monter ou descendre la photo */
  background-repeat: no-repeat; /* Pas de répétition de l’image */
  min-height: 100vh; /* Hauteur minimum : 100% de la hauteur de l'écran */
  padding: 40px 100px; /* Espace intérieur : 100px en haut/bas, 20px à gauche/droite */
  display: block;
  
  justify-content: center;
}

  .overlay-contact {  /* fond */
  position: absolute; /* Positionnement absolu par rapport à .thailande-container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.799); /* teinte du fond */
  z-index: 1;
}


.Contact-title { 
  position: relative; /* Pour que le z-index fonctionne */
  z-index: 2;
  margin-top:  40px;
  font-size: 60px;
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.26); 
  font-style: italic;

}

.contact-list {
  position: relative; /* pour activer z-index */
  z-index: 2;         /* plus haut que l'overlay */
  list-style: none;
  padding: 0;
  margin-top: 120px;  /* descendre les puces */
  text-align: center;
}

.contact-list li {
  margin: 30px 0; /* espacement des puces */
  font-size: 25px; /* taille de la police */
}

.contact-list a {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.505); 
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;    /* espacement entre les logo et le texte */
  transition: transform 0.3s ease;
}

.contact-list a:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 3px #000000;
}

.icon {
  font-size: 40px;
}

