.australie-container {
  display: flex;
  justify-content: center;   /* centre horizontal */
  align-items: center;       /* centre vertical */
  min-height: 100vh;         /* prend toute la hauteur de l’écran */
  background: linear-gradient(135deg, #17171869, #ff02029c); /* joli fond dégradé (optionnel) */
}

.title-australie {
  font-size: 80px;           /* très grand titre */
  font-weight: bold;
  color: #222;               /* couleur texte */
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* ombre pour contraste */
  font-style: italic;
}